export(supported_formats)
export(auto_read)
export(auto_write)
importFrom(tools, file_ext)
importFrom(stringr, str_to_lower)
importFrom(tibble, as_tibble)
importFrom(readxl, read_excel)
importFrom(readr, read_delim, write_delim)
importFrom(DBI, dbReadTable, dbWriteTable)
importFrom(writexl, write_xlsx)
importFrom(tidyr, drop_na)